<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div id="wrapper">
			<div id="sidebar">
				<div class="app-title"><%= htmlWebpackPlugin.options.title %></div>
				<div id="links">
					<button id="inboxBtn" class="btn">Inbox</button>
					<button id="todayBtn" class="btn">Today</button>
					<button id="upcomingBtn" class="btn">Upcoming</button>
					<button id="allBtn" class="btn">All</button>
				</div>
				<div id="projects">
					<h2 class="header">Projects</h2>
					<button id="projectBtn" class="btn">Add Project</button>
				</div>
			</div>
			<div id="main">
				<h1 id="tasksHeader">Inbox</h1>
				<div id="tasksWrapper"></div>
				<button id="addTaskBtn" class="btn">+ Add task</button>
			</div>
		</div>
	</body>
</html>
